@{
    ViewBag.Title = "轶闻趣事";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="URLList">
    <thead>
        <tr>
            <td>目录</td>
        </tr>
    </thead>
    <tbody>
        @{
            String[] names = {"七匹狼,是如何胜出的",
                            "岁男孩的奇迹穿越",
                            "爱的力量",
                            "爱人之心",
                            "爱是所有回忆",
                            "抱抱法官",
                            "被逼出来的五星航空公司编出",
                            "编出精美竹椅与总统并排坐",
                            "扁鹊的医术",
                            "并不是你想象中那样",
                            "不必紧张",
                            "承担,因为我有责任",
                            "出门",
                            "窗",
                            "大声说出你的爱",
                            "袋鼠与笼子",
                            "当老虎来临时",
                            "第一名",
                            "多一句赞美",
                            "放弃人生的百分之五",
                            "分粥",
                            "奋斗当学,拍立得",
                            "疯子和呆子",
                            "佛塔上的老鼠",
                            "钢玻璃杯的故事",
                            "哥哥的心愿",
                            "给\"苹果\"包上皮",
                            "给成功留白",
                            "给孤独染上梦想的色彩",
                            "给奶茶加点\"珍珠\"",
                            "给予",
                            "河边的苹果",
                            "后生可畏",
                            "怀揣勇气好成功",
                            "机会",
                            "简单道理",
                            "简的成功秘诀",
                            "将开幕式租赁给我",
                            "饺子皮尖",
                            "酒窝大道",
                            "救人",
                            "一个中国学生在美国的成长",
                            "一个谎言的四十年",
                            "一面镜子",
                            "三个金人",
                            "习惯与自然",
                            "习惯人生",
                            "习惯标准",
                            "他击败了比尔•盖茨",
                            "体谅",
                            "你吃饭,我埋单",
                            "信念凝结成功",
                            "养牛之道",
                            "勇气",
                            "责任",
                            "受用一生的侥幸",
                            "右手握左手",
                            "在弹坑里掘金",
                            "天堂",
                            "寻找身边的资源",
                            "博士",
                            "志愿",
                            "我想跟什么样的人合作",
                            "我是陈阿土所长无用",
                            "手环",
                            "抉择",
                            "提醒自我",
                            "摔罐",
                            "无人竞争的\"午睡店\"",
                            "曲突徒薪",
                            "最\"异想天开\",的成功",
                            "最后的心愿",
                            "欠着",
                            "没有抓不住的机会",
                            "理由充分",
                            "生命中没有被注定",
                            "生气",
                            "用人之道",
                            "用途",
                            "追随自己的趣味",
                            "留个缺口给别人",
                            "看法",
                            "真爱",
                            "礼物",
                            "秀才赶考",
                            "路上的石头",
                            "马",
                            "蚂蚁商人的力量",
                            "蛐蛐争霸 牛人赚钱",
                            "让特色弥补遗憾",
                            "贪图两万失去亿",
                            "跳 槽",
                            "网络成就百万梦想",
                            "鞋带",
                            "要求",
                            "鹦鹉",
                            "赢在5%",
                            "鱼王的儿子",
                            "钥匙",
               
            }; int i = 1;
            foreach (String str in names)
            {
                String content = "/content/res/";
                String temp = String.Format("{0:000}", i);
                String path = content + "PIS-" + temp + "-" + str + ".doc";
                i++;
                <tr>
                    <td>
                        <a href="@path">@str</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

@Tools.table("URLList")



