@{
    ViewBag.Title = "冥想之音";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="URLList">
    <thead>
        <tr>
            <td>目录</td>
        </tr>
    </thead>
    <tbody>
        @{
            String[] names = {"安全防爆员",
	                        "编程机器人.中文版",
	                        "变形方块升级版",
	                        "冰河立方体",
	                        "猜梦",
	                        "测试你的心理性别",
	                        "城堡灾难日",
	                        "冲向水桶",
	                        "宠物连连看加强版",
	                        "传递回旋镖",
	                        "大家来找茬（森林版）",
	                        "大家一起来找茬",
	                        "大炮打金币",
	                        "大炮发射兔子",
	                        "大象除菌",
	                        "袋鼠狂跳",
	                        "电力球锁链",
	                        "肥猫大炮",
	                        "粉块之恋",
	                        "愤怒的黑球",
	                        "愤怒的坚果",
	                        "愤怒的外星人",
	                        "愤怒的小鸟",
	                        "丰富表情连连看",
	                        "疯狂的图形",
	                        "疯狂过山车",
	                        "古代美人找茬",
	                        "果冻大炮",
	                        "海底消消看",
	                        "豪华农场连连看",
	                        "轰炸怪物",
	                        "红色积木清理工",
	                        "洪水救生",
	                        "画家找茬",
	                        "欢乐的板砖",
	                        "唤醒太阳",
	                        "火影忍者找不同",
	                        "鸡蛋游戏",
	                        "激光炮轰小怪物",
	                        "剪纸工坊",
	                        "僵尸脑袋泡泡龙",
	                        "叫醒大象",
	                        "杰克寻宝",
	                        "金矿工人",
	                        "精确爆破",
	                        "可爱水果消消看",
	                        "马里奥火箭筒",
	                        "马戏团游戏",
	                        "梦想连连看",
	                        "迷失的蘑菇",
	                        "牛牛大战",
	                        "螃蟹赛跑",
	                        "炮轰石堆",
	                        "炮击蓝气球",
	                        "苹果虫向前冲",
	                        "气球逃生",
	                        "气球小熊",
	                        "让子弹飞",
	                        "热血蒸汽侠",
	                        "人偶大炮",
	                        "忍者涂鸦手",
	                        "上帝涂鸦",
	                        "射杀国王",
	                        "神奇物理实验室",
	                        "十字军圣战",
	                        "石块世界",
	                        "水晶迷宫",
	                        "算算你的前世",
	                        "糖块游戏",
	                        "跳跃方块",
	                        "痛击保龄球瓶",
	                        "推推彩色盒子",
	                        "哇里奥大叔",
	                        "喂食小怪",
	                        "蜗牛守卫者",
	                        "我要零花钱",
	                        "五子彩珠在线",
	                        "五子棋",
	                        "消方格",
	                        "小猴子戳气球",
	                        "小鸡进窝",
	                        "小猫寻汉堡",
	                        "小小绵羊",
	                        "小熊吃蜂蜜",
	                        "心理年龄测试",
	                        "熊猫搬运工",
	                        "旋转英雄",	
                            "眼睛球大闯关",
	                        "鼹鼠收集苹果",
	                        "元素之魔法钥匙",
	                        "原始人大战恐龙",
	                        "炸彩块喂鲨鱼",
	                        "炸桥战略",
	                        "粘手小球",
	                        "粘粘世界精灵堡垒",
	                        "找不同",
	                        "制造怪兽",
	                        "掷骰子",
	                        "装载卡车",
	                        "足球虐僵尸"         
            };
            int i = 1;
            foreach(String str in names)
            {
                String content = "/content/res/";
                String temp = String.Format("{0:000}", i);
                String path = content + "GM-" + temp + "-" + str + ".swf";
                i++;
                <tr>
                    <td>
                        <a href="@path">@str</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

@Tools.table("URLList")



