@{
    ViewBag.Title = "笑话";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="URLList">
    <thead>
        <tr>
            <td>目录</td>
        </tr>
    </thead>
    <tbody>
        @{
            String[] names = {"难听的话",
                            "惧内",
                            "不许做此梦",
                            "不平等",
                            "心有余悸",
                            "下蛋日期",
                            "一只腿",
                            "下雨漏水",
                            "财产",
                            "触礁",
                            "六个兄弟",
                            "梯子倒了",
                            "五角钱",
                            "价格太高",
                            "音乐家",
                            "房管所头头",
                            "画有像",
                            "能屈能伸",
                            "发炎",
                            "猩猩",
                            "隐形眼镜",
                            "没灵魂的文字",
                            "纸老虎",
                            "不是羊肉",
                            "随机应变",
                            "无一不惧",
                            "一家之主",
                            "没有理由",
                            "问题所在",
                            "忘年之交",
                            "急诊",
                            "决不会计较",
                            "出生牛犊",
                            "补了上次的",
                            "未雨绸缪",
                            "自杀方法",
                            "没勇气",
                            "谁吃亏",
                            "拒婚",
                            "不懂时髦",
                            "现场观察",
                            "严重警告",
                            "跑电的风扇",
                            "夏令影",
                            "自然课",
                            "打瞌睡",
                            "广告的效应",
                            "坏学生",
                            "占领车站",
                            "盲人与狗"       
            };
            int i = 1;
            foreach(String str in names)
            {
                String content = "/content/res/";
                String temp = String.Format("{0:000}", i);
                String path = content + "RMX-" + temp + "-" + str + ".mp3";
                i++;
                <tr>
                    <td>
                        <a href="@path">@str</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

@Tools.table("URLList")



