@{
    ViewBag.Title = "心理漫画";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="URLList">
    <thead>
        <tr>
            <td>目录</td>
        </tr>
    </thead>
    <tbody>
        @{
            String[] names = {"爱的语言",
                            "爱与恨",
                            "绊脚石的警告",
                            "帮助与陷阱",
                            "饱怀希望的穷人与没了希望的富人",
                            "被生活愚弄了",
                            "编织梦想的时代",
                            "不断离开找寻落脚处",
                            "不管是好事坏事，自己知道就行了，做人要低调",
                            "不可能字典",
                            "不失去方向",
                            "成长与困惑",
                            "创造机会与等待机会",
                            "从低往高走，总是越来越难",
                            "胆识和勇气",
                            "掉进蜜罐也能淹死",
                            "短板效应",
                            "多角度看事情",
                            "发怒一分钟，遗失60秒幸福",
                            "烦恼会消失",
                            "烦恼篇1",
                            "烦恼篇2",
                            "烦恼篇3",
                            "分享快乐",
                            "改变环境还是改变自己",
                            "改变你的心情",
                            "感谢伤心",
                            "感谢双眼",
                            "工作篇1",
                            "作篇2",
                            "工作篇3",
                            "工作篇4",
                            "公正的法律",
                            "孤独是一种态度",
                            "何必对今天斤斤计较",
                            "机会多半都是自己放走的",
                            "嫉妒是一把刀",
                            "假文盲",
                            "坚韧是成功的一大要素",
                            "洁癖",
                            "开始就不要停止",
                            "看起腻自己",
                            "快乐篇",
                            "乐观的人生",
                            "乐观的人与悲观的人",
                            "力量的来源",
                            "领导还是被领导",
                            "另辟新径",
                            "明天的希望",
                            "你是弱者还是强者",
                            "你也可以发光",
                            "朋友与阳光",
                            "贫穷与财富",
                            "平衡点==最高点",
                            "躯壳",
                            "人的价值",
                            "人生就是一本书",
                            "人生就像弈棋",
                            "人生是一个不断完善自己的过程",
                            "人生是一种无法抗拒的前进",
                            "如果没有人来帮助你，那么就去帮助别人",
                            "如果你希望成功",
                            "如果奇迹没有出现，那就去创造一个",
                            "软弱与勇敢",
                            "生气",
                            "使你疲倦的不是前面的高山，而是你鞋里的一粒石子",
                            "天才",
                            "停下休息的时候不要忘记别人还在奔跑",
                            "网游",
                            "忘掉失败，不要忘记教训",
                            "为自己想也为别人想",
                            "伟人的高度",
                            "希望与理想",
                            "心地一片晴朗",
                            "心中有笼，便有笼；心中无笼，便没有笼",
                            "信心",
                            "幸福是靠宽容来承载的",
                            "选对了一个点",
                            "选择",
                            "学习将你至于不败之地",
                            "一个人的价值",
                            "已远离了苦难",
                            "因为你越往高处走，你的人生就越难找到平衡",
                            "迎向阳光",
                            "有时当你以为自己走的越来越高时，其实你已经悄然的在走下坡路",
                            "有一种伤害叫逃避",
                            "鱼饵就应当符合鱼儿的胃口",
                            "愚者与智者",
                            "与外表不符",
                            "战胜自我",
                            "站在低处，所以渴望更高",
                            "珍惜生活的每一天",
                            "真纯的感情，热爱自由的东西",
                            "真正的高度",
                            "真正的觉悟",
                            "只转境不转心",
                            "专注才会从容",
                            "最坏的打算",
                            "最累的事",
                            "做的到？做不到？"};
                            
            int i = 1;
            foreach(String str in names)
            {
                String content = "/content/res/";
                String temp = String.Format("{0:000}", i);
                String path = content + "ACD-" + temp + "-" + str + ".jpg";
                i++;
                <tr>
                    <td>
                        <a href="@path">@str</a>
                    </td>
                </tr>
                
            }

        }
    </tbody>
</table>

@Tools.table("URLList")

