@{
    ViewBag.Title = "冥想之音";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="URLList">
    <thead>
        <tr>
            <td>目录</td>
        </tr>
    </thead>
    <tbody>
        @{
            String[] names = {"刻板效应",
"投射效应",
"鲶鱼效应",
"安慰剂效应",
"暗示效应",
"巴霖效应",
"半途效应",
"贝勃规律",
"贝尔纳效应",
"贝尔效应",
"彼得原理",
"边际效应",
"波纹效应",
"不值得定律",
"蔡格尼克效应",
"拆屋效应",
"长尾效应",
"超限效应",
"成败效应",
"刺猬法则",
"从众效应",
"搭便车效应",
"达维多定律",
"得寸进尺效应",
"德西效应",
"等待效应",
"定势效应",
"定型效应",
"多看效应",
"多米诺骨牌效应",
"非零和效应",
"共生效应",
"古烈治效应",
"关系场效应",
"光环效应",
"哈奇森效应",
"海潮效应",
"海格力斯效应",
"赫洛克效应",
"黑暗效应",
"华盛顿合作规律",
"环境效应",
"霍布森选择效应",
"霍桑效应",
"缄默效应",
"角色效应",
"金鱼缸法则",
"近因效应",
"禁果效应",
"酒?污水效应",
"空白效应",
"库里肖夫效应",
"冷热水效应",
"连带效应",
"链状效应",
"临近效应",
"零和游戏原理",
"留面子效应",
"蚂蚁效应",
"毛毛虫效应",
"门槛效应",
"免疫效应",
"名片效应",
"名人效应",
"莫扎特效应",
"墨菲定律",
"木桶法则",
"南风效应",
"鸟笼效应",
"重叠效应",
"阿基米德与酝酿效应",
"阿伦森效应",
"安泰效应"
 
            };
            int i = 1;
            foreach(String str in names)
            {
                String content = "/content/res/";
                String temp = String.Format("{0:000}", i);
                String path = content + "PIC-" + temp + "-" + str + ".doc";
                i++;
                <tr>
                    <td>
                        <a href="@path">@str</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

@Tools.table("URLList")



