@model PROnline.Models.HeartWishes.HeartWish
@using PROnline.Models.HeartWishes;

@{
    ViewBag.Title = "心声:" + Model.Title;
    Layout = "~/Views/Shared/Space/_Detail.cshtml";
}

<div class="content">
    <strong>发布日期:@Model.CreateDate.ToString("yyyy-MM-dd")</strong>
    
    <hr />
    <p class="display-field">
        @Html.Raw(Model.Content)
    </p>
</div>
<h6 class="discuss">评论：

</h6>

    <ul>
    @foreach (var item in ViewBag.replylist)
    {
        <li>
        <p class="info">
        <strong>评论人:@item.Replier.UserName</strong><span>评论日期:@item.ReplyDate</span>
        </p>
        <p class="reply">@Html.Raw(item.ReplyContent)</p>
        <div class="box"></div>
        </li>  
    }
    </ul>


      <div class="btn">
      <a href="@Request.UrlReferrer">返回</a>
      </div>
