@model PROnline.Models.Notices.Notice

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/Normal/_ContentList.cshtml";
}
    <div style="padding:30px">
    <div class="display-label">标题</div>
    <div class="display-field">
         
    </div>
    <div class="display-label">发布日期</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>
    <div class="display-label">内容</div>
    <div class="display-field">
        @Html.Raw(Model.Content)
    </div>

</div>