@model IEnumerable<PROnline.Models.Trainings.Training>

@{
    ViewBag.Title = "培训消息";
    Layout = "~/Views/Shared/Normal/_List.cshtml";
}

<ul class="content-list">
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Title, "TrainingDetails", new { id = item.TrainingID })
            <span>
                @Html.DisplayFor(modelItem => item.StartDate)
            </span>
            </li>
        }
</ul>

<div id="pager"></div>
@Tools.pager(@ViewBag, "pager", "/Training/TraingList")


