@model PROnline.Models.Donation.DonationStudent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DonationStudent</legend>

    <div class="display-label">Student</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.State)
    </div>

    <div class="display-label">DonationItem</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonationItem.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
