<div class="container_12 " >
<div class="grid_12" id="foot">
    <div id="copyright">
    <!--p>
    本网站（www.512online.org）刊载的所有内容，包括文字、图片、音频、视频、软件、程序、以及网页版式设计等均在网上搜集。<br/>
    </p-->
    <span class="contact">  
    建议采用<br/><img class="bro" src="/Content/img/browser/ie1.png" />Internet Explorer 8,
    <img class="bro" src="/Content/img/browser/firefox1.png" />Firefox 3.5,
    <img class="bro" src="/Content/img/browser/chrome1.png" />Google Chrome 10
    <br/>或更高版本浏览器浏览以获得最佳效果
    </span> </div>
</div>
<div class="clear" ></div>  
</div>
