@model PROnline.Models.Resources.ResourceType

@{
    ViewBag.Title = "删除资源类型";
    Layout = "~/Views/Shared/Manage/_Edit.cshtml";
}

<h3>确认删除</h3>
<fieldset>

    <div class="display-label">资源类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeName)
    </div>

    <div class="display-label">介绍</div>
    <div class="display-field">
        @Html.Raw(Model.Introduction)
    </div>

    <div class="display-label">备注</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="删除" /> |<a href="@Request.UrlReferrer">返回</a>
    </p>
}
